<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="movie">Movies</a></li>
    <li><a href="genre">Genres</a></li>
    <li><a href="director">Directors</a></li>
    <li><a href="productionCo">Production Companies</a></li>
    <li><a href="movieGenre">Movies by Genre</a></li>
    <li><a href="movieDirector">Movies by Director</a></li>
    <li><a href="movieProductionCo">Movie/Production Company</a></li>
    <li><a href="movieSequel">Movies with Sequels</a></li>
  </ul>
</div>

<h1>Added successfully</h1>