<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="movie">Movies</a></li>
    <li><a href="genre">Genre</a></li>
    <li><a href="director">Director</a></li>
    <li><a href="productionCo">Production Company</a></li>
    <li><a href="movieGenre">Movie/Genre</a></li>
    <li><a href="movieDirector">Movie/Director</a></li>
    <li><a href="movieProductionCo">Movie/Production Company</a></li>
    <li><a href="movieSequel">Movie Sequels</a></li>
  </ul>
</div>
<div>
  <p>The tables linked above are the represent the information contained in a
  movie database. </p>
</div>