table, th, td {
    border: 1px solid black;
}

li {
	display: inline;
	padding: 10px;
}

ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: circle;
	margin: 10;
	padding: 10;
}

.home li {	
	display: block;
}
